body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/imagen1.png");
    background-size: cover;
    background-position: center;
    color: #0d47a1; /* Azul */
    font-family: 'Arial', sans-serif;
}

.museum-sign {
    text-align: center;
    background-color: rgba(255, 255, 204, 0.9); /* Amarillo claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Azul */
    margin-bottom: 20px;
}

.museum-sign h1 {
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.custom-btn {
    width: calc(100% / 3 - 10px);
    background-color: #ffd600; /* Amarillo */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.custom-btn:hover {
    background-color: #fbc02d; /* Amarillo más claro */
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Azul */
}

.modal-header {
    background-color: #0d47a1; /* Azul */
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-close {
    color: #fff;
}

.form-label {
    color: #000;
}

#togglePassword {
    background-color: #ffd600; /* Amarillo */
    color: #fff;
}

#confirmDelete {
    background-color: #ffd600; /* Amarillo */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#confirmDelete:hover {
    background-color: #fbc02d; /* Amarillo más claro */
}
