body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/imagen1.png");
    background-size: cover;
    background-position: center;
    color: #0d47a1; /* Azul */
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgb(255, 255, 255); /* Amarillo claro */
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Azul */
    color: #0d47a1; /* Azul */
}

.card {
    background: none;
    border: none;
}

.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header h1 {
    color: #0d47a1; /* Azul */
}

.card-body {
    color: #ffe600; /* Amarillo */
}

.form-group {
    margin-bottom: 20px;
}

.form-group h3 {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #0d47a1; /* Azul */
    color: #FFF;
}

.btn-primary:hover {
    background-color: #1e88e5; /* Azul más claro */
}

.btn-secondary {
    background-color: #ffd600; /* Amarillo */
    color: #FFF;
}

.btn-secondary:hover {
    background-color: #fbc02d; /* Amarillo más claro */
}

.btn-danger {
    background-color: #ff6d00; /* Naranja */
    color: #FFF;
}

.btn-danger:hover {
    background-color: #e65100; /* Naranja más oscuro */
}

.alert {
    display: none;
    margin-top: 10px;
}

.alert-danger {
    color: #d32f2f;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
