<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuestas - Centro de Ayuda</title>
    <link rel="stylesheet" href="../styles/centroayuda.css">
</head>
<body>
    <header>
        <h1>Respuestas - Centro de Ayuda</h1>
    </header>

    <main>
        

        <section class="answer">
            <h2>Métodos de pago</h2>
            <p>Aceptamos una variedad de métodos de pago para la compra de tus gorras, incluidas tarjetas de crédito y débito, transferencias bancarias y pagos en efectivo. También puede utilizar plataformas de pago en línea como PayPal y Stripe para realizar su reserva.</p>
            <p>Algunos métodos de pago pueden estar sujetos a condiciones y restricciones. Por favor, consulte con nuestro equipo de atención al cliente para obtener más información sobre las opciones de pago disponibles en su ubicación.</p>
        </section>

        <section class="answer">
            <h2>Pago de envios contraentrega</h2>
            <p>En nuestra experiencia personal han pasado variedad de altercados que no nos permiten dar esta opcion de envio hacia nuestros clientes, por lo que eliminamos completamente esta opcion de envío.</p>
            <p>Tenga en cuenta que la mejor experiencia es ir al local donde nuestras amables asesoras estan a la espera para atenderte, muestro local se presta paar ver tu gorra y su estilo desde todos los angulos, y es un espacio donde pordras medirte comodamente tu gorra.</p>
        </section>

        <section class="answer">
            <h2>Artículos de factura explicados</h2>
            <p>Para comprender mejor los artículos de su factura, aquí hay una explicación detallada de cada uno:</p>
            <ul>
                <li><strong>Costo base de la gorra</strong> Este es el costo total neto de cada unidad de gorra.</li>
                <li><strong>Cargos adicionales:</strong> estos pueden incluir pines, calcomanias o accesorios que les quieras agregar a cada una de tus gorras</li>
                <li><strong>Impuestos:</strong> Se aplicarán impuestos locales, estatales o nacionales según la regulación fiscal vigente en su ubicación.</li>
                <li><strong>Total:</strong> La suma de todos los costos anteriores.</li>
            </ul>
            <p>Si tiene alguna pregunta sobre los artículos de su factura, no dude en comunicarse con nuestro equipo de atención al cliente para obtener asistencia.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 MUNDIGORRAS</p>
    </footer>
</body>
</html>
