<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../styles/menuadmin.css">
</head>
<body>
    <header>
        <h1>Menú de Administración</h1>
    </header>

    <main>
        <div class="menu-container">
            <form class="menu" action="#">
                <button class="menu-button" type="button" onclick="location.href='usuario.html'">Administrar Productos</button>
                <button class="menu-button" type="button" onclick="location.href='pedidos.html'">Pedidos Recientes</button>
                <button class="menu-button" type="button" onclick="location.href='adminperfil.html'">Perfil de Vendedor</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Rentapp</p>
    </footer>
</body>
</html>



