<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/menuadmin.css">

</head>

<body>
    <header>
        <button id="update-profile" class="menu-button">Editar Perfil</button>
        <button id="signout" class="menu-button">Cerrar Sesion</button>
    </header>
    
    <main>
        <section id="admin-menu"></section>
    </main>

    <script type="module" src="../controllers/profile.js"></script>
</body>

</html>